// sass --watch scss/style.scss:css/style.css

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

*{
    padding: 0;
    margin: 0;
}

body{
    min-width: 320px;
    color: rgb(80, 80, 80);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}
.icons{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.faf-arrow{
    height: 12px;
    width: 12px;
    background-size: cover;
    background: url(../images/icons/arrow.svg) no-repeat;
}
.faf-facebook{
    @extend .icons;
    background: url(../images/icons/facebook.svg) no-repeat;
}
.faf-houzz{   
    @extend .icons;
    background: url(../images/icons/houzz.svg) no-repeat;
}
.faf-instagram{    
    @extend .icons;
    background: url(../images/icons/instagram.svg) no-repeat;
}
.faf-search{  
    @extend .icons;
    background: url(../images/icons/search.svg) no-repeat;
}
.faf-twitter{  
    @extend .icons;
    background: url(../images/icons/twitter.svg) no-repeat;
}
nav{
    height: 15vh;
}
header{
    height: 60vh;
    width: 100%;
    .title{
        z-index: 10;
    }
    img{
        height: 60vh;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
